<app-grid
  [data]="favProjects"
  [template]="favProjectCntTemp"
  (actionClicked)="removeFavorite($event)"
  ></app-grid>

<ng-template #favProjectCntTemp let-description="description" let-rating="rating" let-language="language" let-linkToProject="linkToProject">
    <ul>
        <li>
            <span>Рейтинг: </span>
            <span>{{rating}}</span>
        </li>
        <li>
            <span>Описание: </span>
            <span>{{description}}</span>
        </li>
        <li>
            <span>ЯП: </span>
            <span>{{language}}</span>
        </li>
        <li>
            <span>Ссылка: </span>
            <span>{{linkToProject}}</span>
        </li>
    </ul>
</ng-template>